
{% extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}}">
{% endblock %}
  
  

{% block content %}
  <div class="text-center">
      <p style="font-size: xx-large;"><strong>{{quote.quote}}</strong></p>
      <p>{{quote.author}}</p>
  </div> 
  <br>
  <br>    
  {% for post in posts %}        
    
    <div class="card" id="cards">
      <div class="card-header" style="font-size: x-large;">
        {{post.title}}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ post.content }}</p>
          <br><br>
          <button class="btn btn-default"><a href="{{url_for('main.comment',post_id=post.id)}}">Comment</a></button>
          {% if post.author == current_user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.update_post', post_id=post.id) }}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
          {% endif %}

          <footer class="blockquote-footer">posted on {{post.date_posted.strftime('%d/%m/%Y')}}</footer>
        </blockquote>
      </div>
    </div>
  

    <!--Modal section-->


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input class="btn btn-danger" type="submit" value="Delete">
              
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}





{% endblock %}