<!-- Displaying reviews macro -->
{% macro displayBlogs(blog_list) %}
    {% for blog in blog_list %}
       
        

    <h2>{{blog.blog_title}}</h2>
      <h5><span class="glyphicon glyphicon-time"></span> posted on {{blog.posted.strftime('%d/%m/%Y')}}</h5>
      <span class="label label-primary">Trending</span></h5><br>
      <p>{{ blog.blog}} </p>
      <br><br>
      <button class="btn btn-default"><a href="{{url_for('main.comment',blog_id=blog.id)}}">Comment</a></button>
      {% if blog.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_blog', blog_id=blog.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
      {% endif %}


    {% endfor %}
{% endmacro %}

{% macro displayComments(all_comments)%}
    {% if all_comments%}

        {% for comment in all_comments %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">

            <div class="media-body">
                <h4>{{comment.user.username}}</h4>
                <p>{{comment.comment}}</p>
            </div>

        </div>
        {% endfor %}
    {% endif %}

{% endmacro %}
