<div class="row-content" style="background-color:#D6D1CF;">
      <div class="col-sm-3 sidenav"  >
        <h4>Kevin's Blog</h4>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/blog">+Add Blog</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
            <li><a href="{{url_for('auth.logout')}}">Log out</a></li>
          {% else %}  
            <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
      
          {%endif%}
          </ul><br>
        
      </div>

</div>